.main-div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.nav-menu {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	min-height: 90vh;
}

div.flexcontainer {
	display: flex;
	min-height: 100vh;
	font-size: 15px;
	border: 2px solid #01162c;
}

div.columns {
	padding: 10px;
	color: white;
}
div.columns:nth-of-type(1) {
	flex: 0.2;
	/* flex: 0.5 0 100%; */
	background: #01162c;
	border: 0.1px solid white;
	border-collapse: collapse;
}
div.columns:nth-of-type(2) {
	flex: 0.4;
	background: #01162c;
	border: 0.1px solid white;
	border-collapse: collapse;
}
div.columns:nth-of-type(3) {
	flex: 2;
	background: white;
	color: #01162c;
}
