body {
	background: white !important;
}
.main-div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.nav-menu {
	/* display: flex;
	flex-direction: column;
	justify-content: space-evenly; */
	min-height: 90vh;
	padding: 2px;
	text-align: start;
}

.nav-menu .nav-icon-div {
	margin: 16px 4px;
	padding: 16px 4px;
}

@media only screen and (max-height: 300px) {
	.nav-menu .nav-icon-div {
		margin: 0px 0px !important;
		padding: 0px 0px !important;
	}
}

@media only screen and (max-height: 500px) {
	.nav-menu .nav-icon-div {
		margin: 6px 2px;
		padding: 6px 2px;
	}
}

/* @media only screen and (max-height: 600px) {
	.nav-menu .nav-icon-div {
		margin: 6px 2px;
		padding: 6px 2px;
	}
} */

/* @media only screen and (min-height: 900px) {
	.nav-menu .nav-icon-div {
		margin: 8px 2px;
		padding: 8px 2px;
	}
} */

div.flexcontainer {
	display: flex;
	min-height: 100vh;
	font-size: 15px;
	border: 2px solid #01162c;
}

div.columns {
	padding: 10px;
	color: white;
}
div.columns:nth-of-type(1) {
	flex: 0.2;
	/* flex: 0.5 0 100%; */
	background: #01162c;
	border: 0.1px solid lightgrey;
	border-collapse: collapse;
}
div.columns:nth-of-type(2) {
	flex: 0.4;
	background: #01162c;
	border: 0.1px solid lightgrey;
	border-collapse: collapse;
}
div.columns:nth-of-type(3) {
	flex: 2;
	background: white;
	color: #01162c;
}

.nav-img-icon {
	max-width: 24%;
	min-width: 24%;
	/* background: white; */
	/* color: white; */
	padding: 2px;
	filter: invert(100%);
}

.nav-menu .nav-icon-div a {
	white-space: nowrap;
	font-size: 14px;
	cursor: pointer;
	text-decoration: none !important;
	margin: 0px 2vw 0 0;
}

.nav-menu .nav-icon-div a > img {
	margin-right: 10px;
}

.nav-menu .nav-icon-div a:hover {
	text-decoration: none !important;
	/* font-size: 1rem; */
	color: white;
	/* padding: 4px; */
}

.saturate {
	filter: saturate(3);
}
.grayscale {
	filter: grayscale(100%);
}
.contrast {
	filter: contrast(160%);
}
.brightness {
	filter: brightness(0.25);
}
.blur {
	filter: blur(3px);
}
.invert {
	filter: invert(100%);
}
.sepia {
	filter: sepia(100%);
}
.huerotate {
	filter: hue-rotate(180deg);
}
.rss.opacity {
	filter: opacity(50%);
}

.login-form {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	margin: 25vh auto;
	padding: 32px;
	background: #01162c;
	color: white;
	border-radius: 10px;
}

.text-muted {
	color: white !important;
}

.fa-sort-asc {
	position: absolute;
	right: 14px;
}

.fa-sort-desc {
	position: absolute;
	right: 14px;
}

.header-level-checkbox {
	margin: auto;
	width: 20px;
}

.rg-checkbox-cell span {
	width: 14px !important;
	height: 14px !important;
	border-radius: 3px !important;
	margin: auto !important;
	position: absolute !important;
	left: 2px !important;
	top: 2px !important;
}
